@import url("https://eagleui.netlify.app/css/component.css ");
body {
  overflow-x: hidden;
  width: 100%;
}

.dark {
  background: #111111;
  color: #fff;
}

.light {
  background: #fff;
  color: #111111;
}
h3 {
  padding: 1rem;
  cursor: pointer;
}
.btn-theme {
  float: right;
}
.product__cards {
  margin: 3rem auto;
}
.badge {
  top: 1rem;
  float: right;
}
.badge__icon {
  cursor: pointer;
}
.cart__quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}
.card {
  height: auto;
  width: 25rem;
  display: flex;
  margin: 0 auto;
}
p {
  padding: 1rem;
}
.space {
  padding-right: 1rem;
}
.cart__quantity-number {
  border: 1px solid var(--black);
  padding: 0.1rem 0.4rem;
  padding-right: 0.6rem;
  border-radius: 5px;
  margin-right: 0.7rem;
}
.container {
  display: flex;
}
.cards {
  display: flex;
  flex-direction: column;
}
.cart__vertical {
  width: 25rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
  margin-left: 2rem;
  padding: 1rem;
}
.cart_heading {
  font-weight: 500;
  font-size: 1.4rem;
  padding: 1rem 0;
}
.cart__price--distribution {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
@media screen and (max-width: 450px) {
  .product__cards {
    grid-template-columns: 1fr;
  }
}
